<h1>Ethereum Log-In</h1>
<p>
  <% if !logged_in? %>
    <div data-controller="ethereum">
      <%= button_tag 'Log-in with Ethereum', type: 'button', class: 'eth_connect', data: { action: 'click->ethereum#loginWithEthereum' } %>
      <%= form_tag '/login', class: 'new_session', data: { ethereum_target: 'newSession' } do %>
        <%= hidden_field_tag :eth_message, nil, class: 'eth_message', data: { ethereum_target: 'ethMessage' } %>
        <%= hidden_field_tag :eth_address, nil, class: 'eth_address', data: { ethereum_target: 'ethAddress' } %>
        <%= hidden_field_tag :eth_signature, nil, class: 'eth_signature', data: { ethereum_target: 'ethSignature' } %>
      <% end %>
    </div>
    <br /><br />... or
    <%= link_to "sign up", signup_path %>
    instead? or
    <%= link_to "go back", root_path %>?
  <% else %>
    Hello
    <code><%= current_user.eth_address %></code>!
    Do you wish to
    <%= link_to "log out", logout_path, method: :destroy %>
    or
    <%= link_to "go back", root_path %>?
  <% end %>
</p>