<div data-controller="ethereum">
  <%= form_with model: @user, url: signup_path, data: { target: 'ethereum.newUser' } do |form| %>
    <%= form.label "username" %>
    <%= form.text_field :username %> <br />
    <%= form.label "eth address" %>
    <%= form.text_field :eth_address, readonly: true, class: "eth_address", data: { ethereum_target: "ethAddress" } %> <br />
  <% end %>
  <button class="eth_connect" data-action="click->ethereum#connectToWallet">Sign-up with Ethereum</button>
</div>